In [1]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [5]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)] #리스트(list) 표기법
data

[-0.03209951933836979,
 0.792657748022735,
 1.7509602663821753,
 1.5098240740050155,
 0.4732724463406968,
 0.0006374953317183291,
 0.5709690508868781]

In [8]:
data = []
for i in range(7):
    data.append(np.random.standard_normal())
print(data)

[-0.8128320995636262, 2.310729907922129, 1.8308646568489977, 1.5058492916113326, -0.28824524804500334, 1.8635543370467602, -0.41816084795813113]

In [9]:
data = np.array([0.12345678])
print(data)
print(type(data))

[0.12345678]
<class 'numpy.ndarray'>

# # 변수와 참조

In [10]:
a = [1, 2, 3]
print(type(a))

<class 'list'>

In [11]:
b = a
b

[1, 2, 3]

In [12]:
a.append(4)
b

[1, 2, 3, 4]

# # 사용자 정의 함수

In [13]:
def append_element(some_list, element): # 위치 인자
    some_list.append(element)

In [15]:
data = [1, 2, 3] # Global 변수로 선언
append_element(data, 4) # 함수 호출
data

[1, 2, 3, 4]

# # Type() : 파이썬 자료형 확인

In [16]:
a = 5
print(type(a))
a = "foo"
print(type(a))

<class 'int'>
<class 'str'>

In [17]:
"5" + 5 # 자동 형변환이 불가능 하다

TypeError: can only concatenate str (not "int") to str

In [18]:
# 자동 형변환이 가능하다 (자료형이 숫자인 경우)
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
print(a / b)

a is <class 'float'>, b is <class 'int'>
2.25

# isinstance() : 객체의 자료 타입 확인

In [19]:
a = 5
isinstance(a, int)

True

In [23]:
a = 5
b = 4.5
print(isinstance(a, (int, float)))
print(isinstance(b, (int, float)))

True
True

In [13]:
a = "foo"

In [14]:
getattr(a, "split")

#  # iterator 객체 확인 : iter()

In [24]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [25]:
print(isiterable("a string"))
print(isiterable([1, 2, 3]))
print(isiterable(5))

True
True
False

In [17]:
5 - 7
12 + 21.5
5 <= 2

# # is & is not 예약어
* is : 두 객체간 동일한지 확인
* is not : 상이한 겍체인지 확인

In [28]:
a = [1, 2, 3]
b = a
c = list(a)   # 리스트로 형변환 : new 객체
print(a is b)
print(a is not c)

True
True

In [19]:
a == c

# # None 객체 : null 책체

In [30]:
a = None
a is None

True

# # List 자료형 : indexing & slicing 인덱싱 & 슬라이싱
* 수정, 삭제, 추가 가능한 기능이 있다

In [31]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4) # 데이터 수정
a_list

['foo', 2, (3, 4)]

# # tuple 자료형 : immutable 자료형

In [32]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

In [33]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [34]:
fval = 7.243
fval2 = 6.78e-5

In [35]:
3 / 2

1.5

In [36]:
3 // 2

1

# # 문자열 : immutable
* indexing : 변수명[위치]
* slicing : 변수명[start:end:sep]

In [40]:
c = """
This is a longer string that
spans multiple lines
"""
print(type(c))

<class 'str'>

In [39]:
c.count("\n") # 반복횟수

3

In [43]:
a = "this is a string"
a[10] # 조회가능
a[10] = "f"

's'

In [44]:
b = a.replace("string", "longer string") # 문자열 수정 : replace() -> 새로운 문자열 생성
b

'this is a longer string'

In [45]:
a

'this is a string'

In [46]:
a = 5.6
s = str(a)
print(s)

5.6

In [48]:
s = "python"
list(s) # ['p','y','t','h','o','n']
s[:3] #Slicing s[0:3:1]

'pyt'

In [34]:
s = "12\\34"
print(s)

In [35]:
s = r"this\has\no\special\characters"
s

## # 문자열 연산 : +, *

In [49]:
a = "this is the first half "   # ㅁ
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

In [50]:
template = "{0:.2f} {1:s} are worth US${2:d}"
template.format(4.256, "python de bak", 100)

'4.26 python de bak are worth US$100'

In [51]:
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [52]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"
print(result)
f"{amount} {currency} is worth US${amount / rate:.2f}"

10 Pesos is worth US$0.11304544426859599

'10 Pesos is worth US$0.11'

In [53]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

'10 Pesos is worth US$0.11'

In [41]:
val = "español"
val

In [42]:
val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

In [43]:
val_utf8.decode("utf-8")

In [44]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

In [45]:
True and True
False or True

In [46]:
int(False)
int(True)

In [47]:
a = True
b = False
not a
not b

In [48]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

In [49]:
a = None
a is None
b = 5
b is not None

# # 시간, 날짜 데이터 타입 : datetime

In [57]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
print(dt.day)
print(dt.minute)
print(dt)

29
30
2011-10-29 20:30:21

In [55]:
datetime?

Init signature: datetime(self, /, *args, **kwargs)
Docstring:
datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])

The year, month and day arguments are required. tzinfo may be None, or an
instance of a tzinfo subclass. The remaining arguments may be ints.
File:           c:\python310\lib\datetime.py
Type:           type
Subclasses:

In [61]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [62]:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [63]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [64]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

# # Timedelta : 
* 두 날짜 또는 시간 간의 차이, 즉 기간을 표현함
* 두 개의 datatime 컬럼 ( 즉, 출발시간 - 도착시간) 연산 시 Timedelta 객체로 자동 변환

In [65]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [66]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

datetime.timedelta

In [67]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [68]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

In [69]:
4 > 3 > 2 > 1

True

In [70]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [71]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [73]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [74]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668

* 문제2 : 다음 텍스트(text) 안에 특정 문자열("let")의 존재 여부 검사하기
* text = "Don't them in, don't let them see"

In [77]:
# 키워드 in 사용
text = "Don't them in, don't let them see"

if "let" in text:
    print("찾았다. Found!")
else:
    print("못 찾았다. Not Found")

찾았다. Found!